<div style="margin: 0px auto; max-width: 600px">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
        <tbody>
            <tr>
                <td style="
          direction: ltr;
          font-size: 0px;
          padding: 20px 0;
          text-align: center;
        ">
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="
            font-size: 0px;
            text-align: left;
            direction: ltr;
            display: inline-block;
            vertical-align: top;
            width: 100%;
          ">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                            style="vertical-align: top" width="100%">
                            <tbody>
                                <tr>
                                    <td style="font-size: 0px; word-break: break-word">
                                        <div style="height: 20px"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="
    background: url(https://lorrigalloway.com/assets/img/front.png) top center / cover no-repeat;
    margin: 0px auto;
    border-radius: 20px 20px 0 0;
    max-width: 600px;
">
    <div style="line-height: 0; font-size: 0">
        <table align="center" background="https://lorrigalloway.com/assets/img/front.png" border="0"
            cellpadding="0" cellspacing="0" role="presentation" style="background: url(https://lorrigalloway.com/assets/img/front.png) top center / cover no-repeat; width: 100%;
        border-radius: 20px 20px 0 0;
    ">
            <tbody>
                <tr>
                    <td style="
            direction: ltr;
            font-size: 0px;
            padding: 20px 0;
            text-align: center;">
                        <div class="mj-column-per-100 mj-outlook-group-fix" style="
                font-size: 0px;
                text-align: left;
                direction: ltr;
                display: inline-block;
                vertical-align: top;
                width: 100%;
            ">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="vertical-align: top" width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center" style="
                      font-size: 0px;
                      padding: 8px 0;
                      word-break: break-word;
                    ">
                                            <table border="0" cellpadding="0" cellspacing="0"
                                                role="presentation" style="
                        border-collapse: collapse;
                        border-spacing: 0px;
                        ">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 150px">

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 0px; word-break: break-word">
                                            <div style="height: 250px"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="
    background: #ffffff;
    background-color: #ffffff;
    margin: 0px auto;
    border-radius: 0 0 20px 20px;
    max-width: 600px;
">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="
    background: #ffffff;
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 20px 20px;
  ">
        <tbody>
            <tr>
                <td style="
          direction: ltr;
          font-size: 0px;
          padding: 20px 0;
          text-align: center;
        ">
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="
            font-size: 0px;
            text-align: left;
            direction: ltr;
            display: inline-block;
            vertical-align: top;
            width: 100%;
          ">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                            style="vertical-align: top" width="100%">
                            <tbody>
                                <tr>
                                    <td align="left" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 18px;
                      font-weight: 400;
                      line-height: 30px;
                      text-align: left;
                      color: #54595f;
                    ">
                                            <h2 style="
                        margin: 0;
                        line-height: normal;
                        font-weight: bold;
                        font-size: 20px;
                      ">
                                                Hey {{ .Subscriber.Name }},
                                            </h2>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 22px;
                      text-align: left;
                      color: #54595f;
                    ">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-style: italic;
                      font-weight: 400;
                      line-height: 22px;
                      text-align: left;
                      color: #54595f;
                    ">
                                            <p style="margin: 0">
                                                <strong>NO MORE ANAHEIM POLITICAL CORRUPTION!
                                                </strong>
                                            </p>
                                            <br />
                                            <p>
                                                <strong> EXPERIENCE </strong>
                                            <ul>
                                                <li>Two-term councilmember and mayor pro-tem.</li>
                                                <li>I know Anaheim - with an almost $2 billion budget, multiple departments, 3,000 employees, and 25 million visit ors each year. </li>
                                                <li>Served with Mayor Pringle and Mayor Tait and witnessed what worked and what didn't work.</li>
                                                <li>No long learning curve of a novice.
                                                </li>
                                            </ul>
                                            </p>
                                            <p>
                                                <strong> SERVICE AND TRACK RECORD </strong>
                                            <ul>
                                                <li>I live in Anaheim Hills and spend much of my time in West and Central Anaheim working at the
                                                    non-profit, The Eli Home for homeless abused children and moms that I founded and directed for 39 years.</li>
                                                <li>Have a deeper understanding of the homelessness crisis than any other candidate, know
                                                    complexities of issues and will prioritize getting ahead of the problem rather than chasing its tail. </li>
                                                <li>Key person in establishing the Anaheim Family Justice Center, the first of its kind in the nation that totally changed the way in which victims of family crimes receive help. It became a model that is emulated all over the country and even the world.</li>
                                            </ul>
                                            </p>
                                            <p>
                                                <strong> TRANSPARENT AND HONEST </strong>
                                            <ul>
                                                <li><strong>I am the candidate that is not connected to the FBI investigation, big partisan
                                                        politics,</strong> or wealth and privilege that gives party endorsements before any person even has the opportunity to apply.</li>
                                                <li>I am a political moderate with a reputation of reaching across the aisle to get things done.
                                                </li>
                                            </ul>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" vertical-align="middle" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                            style="border-collapse: separate; line-height: 100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" bgcolor="#54595f" role="presentation"
                                                        style="
                            border: none;
                            border-radius: 30px;
                            cursor: auto;
                            mso-padding-alt: 10px 25px;
                            background: #54595f;
                          " valign="middle">
                        <a href="https://www.efundraisingconnections.com/c/LorriGallowayforMayor2022/" style="
                            display: inline-block;
                            background: #e90040;
                            color: white;
                            font-family: Nunito, Helvetica, Arial, sans-serif;
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 30px;
                            margin: 0;
                            text-decoration: none;
                            text-transform: none;
                            padding: 10px 25px;
                            mso-padding-alt: 0px;
                            border-radius: 30px;
                            " target="_blank">
                                                            We truly need and appreciate your support (Donate)
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" vertical-align="middle" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                            style="border-collapse: separate; line-height: 100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" bgcolor="#54595f" role="presentation"
                                                        style="
                            border: none;
                            border-radius: 30px;
                            cursor: auto;
                            mso-padding-alt: 10px 25px;
                            background: #54595f;
                          " valign="middle">
                        <a href="https://lorrigalloway.com/volunteer.html" style="
                            display: inline-block;
                            background: #e90040;
                            color: white;
                            font-family: Nunito, Helvetica, Arial, sans-serif;
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 30px;
                            margin: 0;
                            text-decoration: none;
                            text-transform: none;
                            padding: 10px 25px;
                            mso-padding-alt: 0px;
                            border-radius: 30px;
                            " target="_blank">
                                                    Click here to join up for a volunteer shift
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 22px;
                      text-align: left;
                      color: #54595f;
                    ">
                                            If you have any questions simply reply to this email
                                            and we would be more than happy to reply. :)
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin: 0px auto; max-width: 600px">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
        <tbody>
            <tr>
                <td style="
          direction: ltr;
          font-size: 0px;
          padding: 20px 0;
          padding-bottom: 0px;
          text-align: center;
        ">
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="
            font-size: 0px;
            text-align: left;
            direction: ltr;
            display: inline-block;
            vertical-align: top;
            width: 100%;
          ">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                            style="vertical-align: top" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 22px;
                      text-align: center;
                      color: #54595f;
                    ">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>