<div style="margin: 0px auto; max-width: 600px">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
        <tbody>
            <tr>
                <td style="
          direction: ltr;
          font-size: 0px;
          padding: 20px 0;
          text-align: center;
        ">
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="
            font-size: 0px;
            text-align: left;
            direction: ltr;
            display: inline-block;
            vertical-align: top;
            width: 100%;
          ">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                            style="vertical-align: top" width="100%">
                            <tbody>
                                <tr>
                                    <td style="font-size: 0px; word-break: break-word">
                                        <div style="height: 20px"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="
    background: #ffffff;
    background-color: #ffffff;
    margin: 0px auto;
    border-radius: 0 0 20px 20px;
    max-width: 600px;
">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="
    background: #ffffff;
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 20px 20px;
  ">
        <tbody>
            <tr>
                <td style="
          direction: ltr;
          font-size: 0px;
          padding: 20px 0;
          text-align: center;
        ">
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="
            font-size: 0px;
            text-align: left;
            direction: ltr;
            display: inline-block;
            vertical-align: top;
            width: 100%;
          ">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                            style="vertical-align: top" width="100%">
                            <tbody>
                                <tr>
                                    <td align="left" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 18px;
                      font-weight: 400;
                      line-height: 30px;
                      text-align: left;
                      color: #54595f;
                    ">
                                            <h2 style="
                        margin: 0;
                        line-height: normal;
                        font-weight: bold;
                        font-size: 20px;
                      ">
                                                Hello {{ .Subscriber.Name }},
                                            </h2>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 22px;
                      text-align: left;
                      color: #54595f;
                    ">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-style: italic;
                      font-weight: 400;
                      line-height: 22px;
                      text-align: left;
                      color: #54595f;
                    ">
                        <img src="https://lorrigalloway.com/assets/img/content-1.png" style="weight: 100%; height: auto; border-radius: 20px">
                                </img>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" vertical-align="middle" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                            style="border-collapse: separate; line-height: 100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" bgcolor="#54595f" role="presentation"
                                                        style="
                            border: none;
                            border-radius: 30px;
                            cursor: auto;
                            mso-padding-alt: 10px 25px;
                            background: #54595f;
                          " valign="middle">
                        <a href="https://www.efundraisingconnections.com/c/LorriGallowayforMayor2022/" style="
                            display: inline-block;
                            background: #e90040;
                            color: white;
                            font-family: Nunito, Helvetica, Arial, sans-serif;
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 30px;
                            margin: 0;
                            text-decoration: none;
                            text-transform: none;
                            padding: 10px 25px;
                            mso-padding-alt: 0px;
                            border-radius: 30px;
                            " target="_blank">
                                                            We truly need and appreciate your support (Donate)
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" vertical-align="middle" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                            style="border-collapse: separate; line-height: 100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" bgcolor="#54595f" role="presentation"
                                                        style="
                            border: none;
                            border-radius: 30px;
                            cursor: auto;
                            mso-padding-alt: 10px 25px;
                            background: #54595f;
                          " valign="middle">
                        <a href="https://lorrigalloway.com/volunteer.html" style="
                            display: inline-block;
                            background: #e90040;
                            color: white;
                            font-family: Nunito, Helvetica, Arial, sans-serif;
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 30px;
                            margin: 0;
                            text-decoration: none;
                            text-transform: none;
                            padding: 10px 25px;
                            mso-padding-alt: 0px;
                            border-radius: 30px;
                            " target="_blank">
                                                    Click here to join up for a volunteer shift
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 22px;
                      text-align: left;
                      color: #54595f;
                    ">
                                            If you have any questions simply reply to this email
                                            and we would be more than happy to reply. :)
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin: 0px auto; max-width: 600px">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%">
        <tbody>
            <tr>
                <td style="
          direction: ltr;
          font-size: 0px;
          padding: 20px 0;
          padding-bottom: 0px;
          text-align: center;
        ">
                    <div class="mj-column-per-100 mj-outlook-group-fix" style="
            font-size: 0px;
            text-align: left;
            direction: ltr;
            display: inline-block;
            vertical-align: top;
            width: 100%;
          ">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                            style="vertical-align: top" width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" style="
                    font-size: 0px;
                    padding: 10px 25px;
                    word-break: break-word;
                  ">
                                        <div style="
                      font-family: Nunito, Helvetica, Arial, sans-serif;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 22px;
                      text-align: center;
                      color: #54595f;
                    ">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>