{% extends "base.html" %} {% block head%} {% endblock %} {% block content %}
<div class="container">
  <p class="title is-1 is-centered">Street Name: {{ street_name }} Drive</p>
  {% for grouped_voter in grouped_voters %}
  <div class="card">
    <header class="card-header has-background-primary">
      <p class="card-header-title">{{ grouped_voter }}</p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </header>
    {% for voter in grouped_voters[grouped_voter] %}
    <div class="card-content px-6">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            {% if voter[38] %} {% if 'Dem' in voter[38] %}
            <img src="/static/img/democrat.png" alt="Placeholder image" />
            {% elif 'Rep' in voter[38] %}
            <img src="/static/img/republican.png" alt="Placeholder image" />
            {% else %}
            <img
              src="https://bulma.io/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
            {% endif %} {% endif %}
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ voter[5] }} {{ voter[6] }} {{ voter[4] }}</p>
          <p class="subtitle is-6">{{ voter[9] }}</p>
        </div>
      </div>

      <div class="content">
        <ul>
          <li>Plotical Party: {{ voter[38] or 'N/A'}}</li>
          <li>Phone: {{ voter[25] or 'N/A'}}</li>
          <li>Email: {{ voter[26] or 'N/A'}}</li>
          <li>District: {{ voter[61] or 'N/A'}}</li>
        </ul>
        <time datetime="2016-1-1"> {{ dt }} </time>
      </div>
      <footer class="card-footer has-background-link">
        <div class="container"> This container is <strong>centered</strong> on desktop and larger viewports.</div>
        <a
          href="/search/voter/{{ voter[0] }}"
          class="card-footer-item has-text-primary-light"
          >Read More About {{ voter[5] }} {{ voter[6] }} {{ voter[4] }}</a
        >
      </footer>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
