{% extends "base.html" %} {% block head%}
<title>Voter</title>
{% endblock %} {% block content %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr>
              <td>VoterUniqueID: {{ voter[0] }}</td>
            </tr>
            <tr>
              <td>AffNumber: {{ voter[1] }}</td>
            </tr>
            <tr>
              <td>StateVoterID: {{ voter[2] }}</td>
            </tr>
            <tr>
              <td>VoterTitle: {{ voter[3] }}</td>
            </tr>
            <tr>
              <td>NameLast: {{ voter[4] }}</td>
            </tr>
            <tr>
              <td>NameFirst: {{ voter[5] }}</td>
            </tr>
            <tr>
              <td>NameMiddle: {{ voter[6] }}</td>
            </tr>
            <tr>
              <td>NameSuffix: {{ voter[7] }}</td>
            </tr>
            <tr>
              <td>Gender: {{ voter[8] }}</td>
            </tr>
            <tr>
              <td>SitusAddress: {{ voter[9] }}</td>
            </tr>
            <tr>
              <td>SitusCity: {{ voter[10] }}</td>
            </tr>
            <tr>
              <td>SitusState: {{ voter[11] }}</td>
            </tr>
            <tr>
              <td>SitusZip: {{ voter[12] }}</td>
            </tr>
            <tr>
              <td>HouseNum: {{ voter[13] }}</td>
            </tr>
            <tr>
              <td>UnitAbbr: {{ voter[14] }}</td>
            </tr>
            <tr>
              <td>UnitNum: {{ voter[15] }}</td>
            </tr>
            <tr>
              <td>StreetName: {{ voter[16] }}</td>
            </tr>
            <tr>
              <td>StreetSuffix: {{ voter[17] }}</td>
            </tr>
            <tr>
              <td>PreDir: {{ voter[18] }}</td>
            </tr>
            <tr>
              <td>PostDir: {{ voter[19] }}</td>
            </tr>
            <tr>
              <td>MailAddress1: {{ voter[20] }}</td>
            </tr>
            <tr>
              <td>MailAddress2: {{ voter[21] }}</td>
            </tr>
            <tr>
              <td>MailAddress3: {{ voter[22] }}</td>
            </tr>
            <tr>
              <td>MailAddress4: {{ voter[23] }}</td>
            </tr>
            <tr>
              <td>MailZip: {{ voter[24] }}</td>
            </tr>
            <tr>
              <td>Phone: {{ voter[25] }}</td>
            </tr>
            <tr>
              <td>EmailAddress: {{ voter[26] }}</td>
            </tr>
            <tr>
              <td>BirthDate: {{ voter[27] }}</td>
            </tr>
            <tr>
              <td>BirthPlace: {{ voter[28] }}</td>
            </tr>
            <tr>
              <td>RegDate: {{ voter[29] }}</td>
            </tr>
            <tr>
              <td>OrigRegDate: {{ voter[30] }}</td>
            </tr>
            <tr>
              <td>LastUpdate: {{ voter[31] }}</td>
            </tr>
            <tr>
              <td>StatusCode: {{ voter[32] }}</td>
            </tr>
            <tr>
              <td>StatusReasonDesc: {{ voter[33] }}</td>
            </tr>
            <tr>
              <td>UserCode1: {{ voter[34] }}</td>
            </tr>
            <tr>
              <td>UserCode2: {{ voter[35] }}</td>
            </tr>
            <tr>
              <td>DuplicateIDFlag: {{ voter[36] }}</td>
            </tr>
            <tr>
              <td>LanguageName: {{ voter[37] }}</td>
            </tr>
            <tr>
              <td>PartyName: {{ voter[38] }}</td>
            </tr>
            <tr>
              <td>AVStatusAbbr: {{ voter[39] }}</td>
            </tr>
            <tr>
              <td>AVStatusDesc: {{ voter[40] }}</td>
            </tr>
            <tr>
              <td>PrecinctName: {{ voter[41] }}</td>
            </tr>
            <tr>
              <td>PrecinctID: {{ voter[42] }}</td>
            </tr>
            <tr>
              <td>PrecinctPortion: {{ voter[43] }}</td>
            </tr>
            <tr>
              <td>DistrictID_0: {{ voter[44] }}</td>
            </tr>
            <tr>
              <td>SubDistrict_0: {{ voter[45] }}</td>
            </tr>
            <tr>
              <td>DistrictName_0: {{ voter[46] }}</td>
            </tr>
            <tr>
              <td>DistrictID_1: {{ voter[47] }}</td>
            </tr>
            <tr>
              <td>SubDistrict_1: {{ voter[48] }}</td>
            </tr>
            <tr>
              <td>DistrictName_1: {{ voter[49] }}</td>
            </tr>
            <tr>
              <td>DistrictID_2: {{ voter[50] }}</td>
            </tr>
            <tr>
              <td>SubDistrict_2: {{ voter[51] }}</td>
            </tr>
            <tr>
              <td>DistrictName_2: {{ voter[52] }}</td>
            </tr>
            <tr>
              <td>DistrictID_3: {{ voter[53] }}</td>
            </tr>
            <tr>
              <td>SubDistrict_3: {{ voter[54] }}</td>
            </tr>
            <tr>
              <td>DistrictName_3: {{ voter[55] }}</td>
            </tr>
            <tr>
              <td>DistrictID_4: {{ voter[56] }}</td>
            </tr>
            <tr>
              <td>SubDistrict_4: {{ voter[57] }}</td>
            </tr>
            <tr>
              <td>DistrictName_4: {{ voter[58] }}</td>
            </tr>
            <tr>
              <td>DistrictID_5: {{ voter[59] }}</td>
            </tr>
            <tr>
              <td>SubDistrict_5: {{ voter[60] }}</td>
            </tr>
            <tr>
              <td>DistrictName_5: {{ voter[61] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
